body{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    text-align: center;
    transition: 0.3s;
    background: #fff3a6;
    min-height: 100vh;
}
.hero{
    padding:60px 20px;
}
.hero h1{
    font-size: 80px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 20px;
    opacity: 0.8;
}
.order{
    display: inline-block;
    margin-top:15px ;
    padding: 14px 24px;
    background: rgba(255,255,255,0.6);
    border-radius: 999px;
    font-weight: 600;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
}
.moodbuttons{
    display:flex;
    justify-content: center;
    gap:15px;
    flex-wrap: wrap;
    margin-top: 30px;
}
button{
    border:none;
    font-size: 16px;
    padding:15px 25px;
    cursor:pointer;
    border-radius: 999px;
    transition: 0.3s;
    background: #fcabbf;
    padding:10px 15px;
}
button:hover{
    transform: translateY(-5px);
    background: #ff5d8f;
    color:white;
}
.resultcard{
    margin-top:50px;
}
#icecream{
    font-size: 130px;
}
#flavor{
    font-size: 35px;
}
#quote{
    font-size:18px;
    opacity: 0.8;
}
.a{
    color: #ff4d6d;
}
.b{
    color: #4361ee;
    font-weight: bold;
}
.c{
    color: #2ec4b6;
    font-style: italic;
}
.links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:40px;
    flex-wrap: wrap;
}
.links a{
    color:white;
    background:#333;
    transition: 0.3;
    padding: 12px 20px;
    border-radius: 999px;
    text-decoration: none;
}
.links:hover{
    transform: translateY(-5px);
}
.features{
    list-style:none;
    padding:0;
}
.features li{
    margin:10px 0;
}
.audio{
    margin:40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
footer{
    margin:30px;
    font-size: 12px;
    opacity: 0.7;
}